@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 4% 9.8%;
    --foreground: 216 12.2% 83.92%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  /* Prevents scrollbar from pushing content to the left */
  html {
    width: 100vw;
    overflow-x: hidden;
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  }

  .text-gradient {
    background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.38));
    background-clip: text;
    color: transparent;
  }

  .mask-radial-faded {
    mask-image: radial-gradient(circle at center center, black, transparent 80%);
  }

  .mask-linear-faded {
    mask-image: linear-gradient(black, transparent 99%);
  }

  .mask-keyboard {
    mask-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.57) 33.98%, black 100%);
  }

  .mask-shortcutkeys {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 40%,
      black calc(60%),
      transparent 100%
    );
  }
}
